.video_filler_img {
  display: none;
}


@media only screen and (min-width: 768px) {
  .video_container {
    margin: 0 1em;
  }

  .video_filler_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px !important;
    height: 415px !important;
  }

}


@media only screen and (min-width: 1024px) {
  .video_filler_img {

  }
}
