.poll_winner_container {
  background-color: white;
  font-size: 24px;
  padding: 1em;
}

.poll_list_container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.poll_list {
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.poll_list_item {
  flex-direction: column;
  background-color: white;
  margin: 5px;
  padding: 10px;
  width: 300px;
  justify-content: center;
  align-items: center;
  height: 200px;
  cursor: pointer;
  overflow: hidden;
}

.poll_list_item_description {
  padding: 1em;
  margin: 0;
}

.iframe_modal {
  display: none;
}

@media only screen and (min-width: 768px) {
  .poll_list_item {
    width: 350px;
  }

  .iframe_modal {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  .poll_list_item {
    width: 400px;
  }
}

@media only screen and (min-width: 1768px) {
  .poll_list_item {
    width: 450px;
  }
}
